.post {
    border: var(--post-border) solid;
    background-color: var(--post-bg);
}

.reply-border {
    background-color: var(--post-bg) !important;
    border-left-width: 3px !important;
    border-left-color: var(--post-bg) !important;
}

button {
    background-color: var(--post-bg);
    border: var(--post-bg) solid !important;
}

button:hover {
    border: var(--post-border) solid !important;
}

footer {
    margin-top: 3vh;
}