body {
    align-items: center;
    font-family: sans-serif;
    background-color: var(--site-bg-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 0 auto;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}