body {
    align-items: center;
    font-family: sans-serif;
    background-color: var(--site-bg-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    border-bottom: var(--post-border) solid;
}

header h1 {
    text-align: center;
    margin: 0 auto;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a {
    text-align: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: var(--post-text);
    border-bottom: var(--site-bg-color) solid;
}

a:hover {
    text-decoration: none;
    border-bottom: var(--post-border) solid;
}