:root {
  --site-bg-color: #E5EEF7;
  --site-title-color: black;
  --site-logo-font: sans-serif;
  --post-font: sans-serif;
  --post-font-size: 1.1em;
  --post-header-bg: #A0C4E3;
  --post-bg: #CADEEF;
  --post-border: #639DD1;
  --post-username: #184E03;
  --post-img-text: grey;
  --post-text: black;
  --post-quote-text: #156216;
  --post-link-text: #AC321E;
}