@import "tailwindcss";

.board {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: var(--post-border) solid;
    max-width: 30%;
    margin: 0 auto;
}

.board h2 {
    text-align: center;
}

.board-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    list-style-type: none;
    padding: 0;
}

@media (min-width: 640px) {
    .board-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .board {
        margin-top: 2vh;
        max-width: 50%;
    }
}

.board-items li {
    padding: 2vw;
    text-align: center;
}

